<header>
  <nav>
    <ul>
      <li>
        <a href="/index">Home</a>
      </li>

      <li>
        <a href="#">Wer bin ich</a>
      </li>

      <li>
        <a href="/createNewBlog">Neues Thema</a>
      </li>
    </ul>
  </nav>

  <h1>Ein Blog über Webprogrammierung</h1>
  <a href="/this-blog">Informationen über diesen Blog</a>
</header>
